@charset 'UTF-8';
@media (min-width:1000px) {
	html {
		font-size:16px;
	}
	body {
		font-size:15px;
		line-height:140%;
	}
	h1,h2,h3,h4,h5,h6 {
		line-height:140%;
	}
	.container {
		width:1140px;
		margin:0 auto;
	}
	header {
		width:1111.5px;
		margin-left:14.25px;
		margin-right:14.25px;
		padding-left:0;
		padding-right:0;
	}
		header p a{
			margin:3% 1%;
		}
		.fpotusSeal img {
			max-width:128px;
		}
	article {
		float:left;
		width:78%;/*731.5px;*/
		margin-top:0;
		margin-left:14.25px;
		margin-right:14.25px;
		padding-left:5%;
		padding-right:0;
	}
	aside {
		float:left;
		width:10%;/*351.5px;*/
		margin-left:14.25px;
		margin-right:14.25px;
		padding-left:0;
		padding-right:0;
	}
	footer {
		float:left;
		width:1111.5px;
		margin-left:14.25px;
		margin-right:14.25px;
		padding-left:0;
		padding-right:0;
	}
	#menuLink,#menuLink2{display:none;}
	#main,main {
		margin-top:0;
		justify-content:flex-start;
	}
	.desktopVisible {
		display:block;
		visibility:visible;
	}
	.desktop.hidden ,.desktopHidden {
		display:none !important;
		visibility:hidden;
	}
	.desktop.visuallyhidden ,.desktopVisuallyHidden {
		border:0;
		clip:rect(0 0 0 0);
		height:1px;
		margin:-1px;
		overflow:hidden;
		padding:0;
		position:absolute;
		width:1px;
	}

	.emo {
		font-size:2.2em;
		font-size:2.2rem;
	}
	.socialize .the-icons {
		font-size:1.6em;
		font-size:1.6rem;
	}

	/*
	.socialize {
		text-align:center;
		opacity:0.5;
		filter:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="grayscale"><feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/></filter></svg>#grayscale'); /* Firefox 10+, Firefox on Android */
		filter:gray; /* IE6-9 /
		-webkit-filter:grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS /
	}
		.socialize:active ,.socialize:hover {
			opacity:1;
			filter:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="grayscale"><feColorMatrix type="matrix" values="1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0"/></filter></svg>#grayscale');
			-webkit-filter:grayscale(0%);
		}
	*/
	.socialize{
		bottom:1.6em;
		bottom:1rem;
	}
		.socialize ol li{
			display:inline-block;
		}
}
