@charset 'UTF-8';
.legal ,.legal *{
	background:#fff !important;
	color:#000 !important;
	font-family:times,Times New Roman,times-roman,georgia,serif !important;
	font-size:12pt !important;
	text-transform:uppercase !important;
	text-shadow:unset !important;
	filter:unset !important;
}
a.legal ,a.legal *{
	font-size:inherit !important;
}
.exception ,.exception *,
.legal.exception ,.legal.exception  *,
.legal_exception ,legal_exception *{
	text-transform:inherit !important;
	background:inherit !important;
	color:inherit !important;
	font-size:inherit !important;
	text-transform:inherit !important;
}
