@charset 'UTF-8';
@media (max-width:767px) {
	html {
		font-size:13px;
	}
	body {
		font-size:16px;
		line-height:140%;
	}
	h1,h2,h3,h4,h5,h6 {
		line-height:140%;
	}
	.container {
		width:99vw;
		margin:0 auto;
	}
	header {
		width:90vw;
		margin:0;
		margin-top:3%;
		padding-left:0%;
		padding-right:0%;
	}
		header p a{
			margin:2% 1%;
		}
		.headerLogo {
			max-width:65vw;
			flex:3 6 60vw;
			order:3;
		}
			.headerLogo img {
				width:70vw;
				height:auto;
			}
		.fpotusSeal {
			order:2;
		}
			.fpotusSeal img {
				max-width:48px;
			}
		header .pageTitleImage{
			width:84%;
		}
		#timeLeft{
			display:none;
		}
	article {
		width:90vw;
		margin-left:5vw;
		margin-right:5vw;
		padding-left:0%;
		padding-right:0%;
		border:0;
		flex-shrink:1;
	}
	aside {
		width:98vw; /**/
		margin-right:5vw;
		padding-left:0%;
		padding-right:0%;
	}
	html.js aside {
		margin-top:-950px;
		margin-left:-950px;
	}
		html.js #menuToggle:checked ~ aside,html.no-js aside {
			margin-top:8em;
			margin-top:8rem;
			margin-top:29vh;
			margin-left:1em;
			margin-left:1rem;
			margin-left:6vw;
		}
		html.js #menuToggle:checked ~ article,html.no-js article {
			margin-top:4em;
			margin-top:4rem;
			margin-top:13vh;
		}
	footer {
		float:left;
		width:90vw;
		margin-left:5%;
		margin-right:5%;
		padding-left:0%;
		padding-right:0%;
	}
	#main,main {
		margin-top:-6em;
		margin-top:-6rem;
		flex-direction:column;
	}
	html.js #menuLink,html.no-js #menuLink2 {display:inline-block;}
	#menuLink,#menuLink2 {
		top:0.2em;
		top:0.5rem;
		font-size:2.5em;
		font-size:2.5rem;
		order:1;
	}
	header { order: 1; }
	article { order: 3; }
	aside { order: 2; }
	footer { order: 4; }

	.mobileVisible {
		display:block;
		visibility:visible;
	}
	.mobile.hidden ,.mobileHidden {
		display:none !important;
		visibility:hidden;
	}
	.mobile.visuallyhidden ,.mobileVisuallyHidden {
		border:0;
		clip:rect(0 0 0 0);
		height:1px;
		margin:-1px;
		overflow:hidden;
		padding:0;
		position:absolute;
		width:1px;
	}

	header{
		position:fixed;
		top:0;
		left:0;
		right:0;
		width:100%;
		height:50px;
		transform:translateZ(0);
		transition:transform 0.33s ease 0s;
		backface-visibility:hidden;
		z-index:351;
	}
		.header-inner{
			position:relative;
			left:0;
			right:0;
			width:100%;
			height:50px;
			background:Navy;
			color:#fff;
			display:table;
			line-height:32px;
		}
		.header-inner .section{
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			transform:translateZ(0) translate3d(0,0,0);
			backface-visibility:hidden;
		}
		.header-inner .symbol{
			width:65px;
			border-right:1px solid #fff;
		}
		.header-inner .logo{
			width:121px;
			height:17px;
			margin:0 auto;
			display:block;
		}
		header .menu{
			width:65px;
			border-left:1px solid #fff;
		}

	.socialize .the-icons {
		font-size:1.5em;
		font-size:1.5rem;
	}
	.socialize ol li{
		max-width:71px;
	}
}
