@charset 'UTF-8';
@media print {
	*,
	*:before,
	*:after {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
		word-wrap:break-word !important;
		border:0;
	}
	* {
		min-height:unset !important;border:0;
	}
	a,a:visited{color:#06c !important;text-decoration:none}
	/*
	a[href]:after {content:" <"attr(href)">";font-size:11pt }
	a[href^="/"]:after{content:" <http://pres.me" attr(href)">"}
	a[href^="javascript:"]:after,a[href^="#"]:after{ content:''}
	*/

	#main,main {
		float:unset;
		min-height:unset;
		margin-top:unset;
		display:block;
	}
	header,article,footer{
		width:96vw;
	}
	header{
		margin-bottom:0.5em;
		margin-bottom:0.5rem;
		padding-bottom:0.5em;
		padding-bottom:0.5rem;
		border-bottom:1px solid #000;
	}
	header .non-delete .penaltyOfPerjury,header .print-only .penaltyOfPerjury{
		margin-bottom:0.5em;
		margin-bottom:0.5rem;
		padding-bottom:0.5em;
		padding-bottom:0.5rem;
		border-bottom:1px solid #000;
	}
	article {
		float:unset;
		min-height:unset;
		margin:0 10px;
		padding:0 4%;
		border:0;
	}
	pre code {
		page-break-after:always;
	}

	#main,main{
		margin:0 auto !important;
	}

	@page {
		margin:1.8cm 0.2cm;
	}
	p a, code, pre {
		word-wrap:break-word;
	}
	.breakBefore{
		page-break-before:always;
	}
	.breakAfter{
		page-break-after:always;
	}
	/*img {display:none;}*/

	pre a[href]:after {
		content:'';
	}

	pre abbr[title]:after {
		content:'';
	}

	pre   .ir a:after,
	pre a[href^="javascript:"]:after,
	pre a[href^="#"]:after {
		content:'';
	}

	.pf_author {
		float:left;
		margin:-1em 0 1em 0;
		font-size:.85em;
		color:hsl(0, 0%, 50%);
		display:block;
	}
	.pf-date {
		float:right;
		margin:-1em 0 1em 0;
		font-size:.85em;
		color:hsl(0, 0%, 50%);
		display:block;
	}

	h1.pf-title{
		margin:1em 0;
		font-size:135%;
		clear:both; /*helps keep images with intended content*/
	}
	h1, h2, h3, h4, h5, img, img.smallImage, img.blockImage, img.block, img.alignnone, .pf-caption{
		page-break-inside:avoid !important; /*avoids cutting header in half on page break for PDF*/
	}

	h1{
		margin:1em 0 .67em;
		font-size:130%;
		clear:both; /*helps keep images with intended content*/
	}

	h2{
		margin:1em 0 .67em;
		font-size:125%;
	}

	h3,h4,h5,h6{
		font-size:115%;
	}

	hr{
	  clear:both; /*helps keep images with intended content*/
	}

	.listNumerical,
	ol.numerical,
	ul.numerical{
		color:#444;
		list-style:numerical;
		text-shadow:unset !important;
	}
		.listCircle li,
		ol.circle li,
		ul.circle li{
			list-style:unset;
			display:list-item;
		}
	.listCircle,
	ol.circle,
	ul.circle{
		color:#444;
		list-style:circle inside;
		text-shadow:unset !important;
	}
		.listCircle li,
		ol.circle li,
		ul.circle li{
			list-style:unset;
			display:list-item;
		}
	.listDisc,
	ol.disc,
	ul.disc{
		color:#444;
		list-style:disc inside;
		text-shadow:unset !important;
	}
		.listDisc li,
		ol.disc li,
		ul.disc li{
			list-style:unset;
			display:list-item;
		}
	.listSquare,
	ol.square,
	ul.square{
		color:#444;
		list-style:square inside;
		text-shadow:unset !important;
	}
		.listSquare li,
		ol.square li,
		ul.square li{
			list-style:unset;
			display:list-item;
		}
	.romanUpper,
	ol.romanUpper,
	ul.romanUpper{
		color:#444;
		list-style:upper-roman inside;
		text-shadow:unset !important;
	}
		.romanUpper li,
		ol.romanUpper li,
		ul.romanUpper li{
			list-style:unset;
			display:list-item;
		}
	.alphaLower,
	ol.alphaLower,
	ul.alphaLower{
		color:#444;
		list-style:lower-alpha inside;
		text-shadow:unset !important;
	}
		.alphaLower li,
		ol.alphaLower li,
		ul.alphaLower li{
			list-style:unset;
			display:list-item;
		}

	li h2 {
		color:#444 !important;
		background:unset !important;
		border:0 !important;
	}
	.policyList {
		display:inline-block !important;
	}

	.no-print,.print-no {
		position:absolute !important;
		width:1px !important;
		height:1px !important;
		margin:-65px !important;
		padding:0 !important;
		clip:rect(0 0 0 0) !important;
		overflow:hidden !important;
		border:0 !important;
		display:none !important;
		visibility:hidden !important;
		opacity:0 !important;
		content:'' !important;
	}
	.printer_show_inline,.printer_show_box,.hide,.pf-author,.pf-date,.pf-footer,.print-footer,.pf-title,.pf-body-cache,#print-only,.print-only,.pf-content,#pf-content,.pf-print,#pf-date,.pf-date,.print-header,.print-yes{
		visibility:unset;
		display:unset !important;
	}
}
