@charset 'UTF-8';
@media (min-width:768px) and (max-width:999px) {
	html {
		font-size:14px;
	}
	body {
		font-size:14px;
		line-height:140%;
	}
	h1,h2,h3,h4,h5,h6 {
		line-height:140%;
	}
	.container {
		width:768px;
		margin:0 auto;
	}
	header {
		width:752px;
		margin-left:8px;
		margin-right:8px;
		padding-left:0;
		padding-right:0;
	}
		header p a{
			margin:3% 1%;
		}
		.headerLogo {
			flex:3 6 50vw;
			order:2;
		}
		.fpotusSeal {
			order:1;
		}
		.fpotusSeal img {
			max-width:96px;
		}
	#main,main {
		margin-top:2em;
		margin-top:2rem;
		justify-content:space-around;
		flex-direction:column;
	}
	html.js #menuLink,html.no-js #menuLink2 {display:inline-block;}
	#menuLink,#menuLink2 {
		top:1.25em;
		top:2.5rem;
		right:0.3em;
		right:1rem;
		font-size:3em;
		font-size:3rem;
		order:3;
	}
	aside {
		width:14%;
		margin-top:-950px;
		margin-left:-950px;
		margin-right:8px;
		padding-left:0;
		padding-right:0;
	}
		#menuToggle:checked ~ aside,html.no-js aside {
			margin-top:-1vh;
			margin-left:6vw;
			margin-bottom:-23em;
			margin-bottom:-23rem;
		}
	article {
		width:83%;
		margin-top:24em;
		margin-top:24rem;
		margin-left:8px;
		margin-right:8px;
		padding-left:0;
		padding-right:0;
		flex-shrink:1;
	}
	footer {
		float:left;
		width:752px;
		margin-left:8px;
		margin-right:8px;
		padding-left:0;
		padding-right:0;
	}
	.tabletVisible {
		display:block;
		visibility:visible;
	}
	.tablet.hidden ,.tabletHidden {
		display:none !important;
		visibility:hidden;
	}
	.tablet.visuallyhidden ,.tabletVisuallyHidden {
		border:0;
		clip:rect(0 0 0 0);
		height:1px;
		margin:-1px;
		overflow:hidden;
		padding:0;
		position:absolute;
		width:1px;
	}
	.socialize{
		bottom:0%;
	}
	.socialize .the-icons {
		font-size:2.5em;
		font-size:2.5rem;
	}
}
