@font-face {
	font-family:'fontello';
	src:url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/852e4c71/fontello.eot#fefccf61910b3030be7b1c8499a7e32579943a20');
	src:url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/852e4c71/fontello.eot#fefccf61910b3030be7b1c8499a7e32579943a20#iefix') format('embedded-opentype'),
			 url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/852e4c71/fontello.woff#fefccf61910b3030be7b1c8499a7e32579943a20') format('woff'),
			 url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/852e4c71/fontello.ttf#fefccf61910b3030be7b1c8499a7e32579943a20') format('truetype'),
			 url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/852e4c71/fontello.svg#fefccf61910b3030be7b1c8499a7e32579943a20#fontello') format('svg');
	font-weight:normal;
	font-style:normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'fontello';
		src:url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/852e4c71/fontello.svg?21942119#fontello') format('svg');
	}
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
	font-family:"fontello";
	font-style:normal;
	font-weight:normal;
	speak:none;

	display:inline-block;
	text-decoration:inherit;
	width:1em;
	margin-right:.2em;
	text-align:center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant:normal;
	text-transform:none;

	/* fix buttons height, for twitter bootstrap */
	line-height:1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left:.2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-emo-sunglasses:before {content:'\e800';} /* '' */
.icon-emo-displeased:before {content:'\e801';} /* '' */
.icon-emo-beer:before {content:'\e802';} /* '' */
.icon-emo-grin:before {content:'\e803';} /* '' */
.icon-emo-angry:before {content:'\e804';} /* '' */
.icon-emo-saint:before {content:'\e805';} /* '' */
.icon-emo-shoot:before {content:'\e806';} /* '' */
.icon-emo-squint:before {content:'\e807';} /* '' */
.icon-emo-cry:before {content:'\e808';} /* '' */
.icon-emo-laugh:before {content:'\e809';} /* '' */
.icon-emo-coffee:before {content:'\e80a';} /* '' */
.icon-emo-tongue:before {content:'\e80b';} /* '' */
.icon-emo-surprised:before {content:'\e80c';} /* '' */
.icon-emo-devil:before {content:'\e80d';} /* '' */
.icon-emo-thumbsup:before {content:'\e80e';} /* '' */
.icon-emo-sleep:before {content:'\e80f';} /* '' */
.icon-emo-unhappy:before {content:'\e810';} /* '' */
.icon-emo-wink2:before {content:'\e811';} /* '' */
.icon-emo-wink:before {content:'\e812';} /* '' */
.icon-emo-happy:before {content:'\e813';} /* '' */
.icon-spin2:before {content:'\e814';} /* '' */
.icon-spin1:before {content:'\e815';} /* '' */
.icon-spin3:before {content:'\e816';} /* '' */
.icon-spin4:before {content:'\e817';} /* '' */
.icon-spin5:before {content:'\e818';} /* '' */
.icon-spin6:before {content:'\e819';} /* '' */
.icon-firefox:before {content:'\e81a';} /* '' */
.icon-chrome:before {content:'\e81b';} /* '' */
.icon-opera:before {content:'\e81c';} /* '' */
.icon-ie:before {content:'\e81d';} /* '' */
.icon-star:before {content:'\e81e';} /* '' */
.icon-heart-empty:before {content:'\e81f';} /* '' */
.icon-heart:before {content:'\e820';} /* '' */
.icon-star-empty:before {content:'\e821';} /* '' */
.icon-star-half-alt:before {content:'\e822';} /* '' */
.icon-star-half:before {content:'\e823';} /* '' */
.icon-thumbs-up:before {content:'\e824';} /* '' */
.icon-thumbs-down:before {content:'\e825';} /* '' */
.icon-thumbs-up-alt:before {content:'\e826';} /* '' */
.icon-thumbs-down-alt:before {content:'\e827';} /* '' */
.icon-quote-left:before {content:'\e828';} /* '' */
.icon-quote-right:before {content:'\e829';} /* '' */
.icon-share:before {content:'\e82a';} /* '' */
.icon-share-squared:before {content:'\e82b';} /* '' */
.icon-menu:before {content:'\e82c';} /* '' */
.icon-rss-squared:before {content:'\e82d';} /* '' */
.icon-rss:before {content:'\e82e';} /* '' */
.icon-phone:before {content:'\e82f';} /* '' */
.icon-meh:before {content:'\e830';} /* '' */
.icon-frown:before {content:'\e831';} /* '' */
.icon-smile:before {content:'\e832';} /* '' */
.icon-github:before {content:'\e833';} /* '' */
.icon-git:before {content:'\e834';} /* '' */
.icon-git-squared:before {content:'\e835';} /* '' */
.icon-facebook-squared:before {content:'\e836';} /* '' */
.icon-facebook:before {content:'\e837';} /* '' */
.icon-linkedin:before {content:'\e838';} /* '' */
.icon-github-squared:before {content:'\e839';} /* '' */
.icon-github-circled:before {content:'\e83a';} /* '' */
.icon-gittip:before {content:'\e83b';} /* '' */
.icon-google:before {content:'\e83c';} /* '' */
.icon-gplus:before {content:'\e83d';} /* '' */
.icon-gplus-squared:before {content:'\e83e';} /* '' */
.icon-twitter:before {content:'\e83f';} /* '' */
.icon-twitter-squared:before {content:'\e840';} /* '' */
.icon-mail:before {content:'\e841';} /* '' */
.icon-mail-alt:before {content:'\e842';} /* '' */
.icon-mail-squared:before {content:'\e843';} /* '' */
.icon-heart-1:before {content:'\e844';} /* '' */
.icon-heart-empty-1:before {content:'\e845';} /* '' */
.icon-star-1:before {content:'\e846';} /* '' */
.icon-star-empty-1:before {content:'\e847';} /* '' */
.icon-quote:before {content:'\e848';} /* '' */
.icon-location:before {content:'\e849';} /* '' */
.icon-share-1:before {content:'\e84a';} /* '' */
.icon-rss-1:before {content:'\e84b';} /* '' */
.icon-mail-1:before {content:'\e84c';} /* '' */
.icon-menu-1:before {content:'\e84d';} /* '' */
.icon-hourglass:before {content:'\e84e';} /* '' */
.icon-clock:before {content:'\e84f';} /* '' */
.icon-github-1:before {content:'\e850';} /* '' */
.icon-github-circled-1:before {content:'\e851';} /* '' */
.icon-twitter-1:before {content:'\e852';} /* '' */
.icon-twitter-circled:before {content:'\e853';} /* '' */
.icon-facebook-1:before {content:'\e854';} /* '' */
.icon-facebook-circled:before {content:'\e855';} /* '' */
.icon-facebook-squared-1:before {content:'\e856';} /* '' */
.icon-gplus-1:before {content:'\e857';} /* '' */
.icon-gplus-circled:before {content:'\e858';} /* '' */
.icon-linkedin-1:before {content:'\e859';} /* '' */
.icon-linkedin-circled:before {content:'\e85a';} /* '' */
.icon-mail-2:before {content:'\e85b';} /* '' */
.icon-heart-2:before {content:'\e85c';} /* '' */
.icon-heart-filled:before {content:'\e85d';} /* '' */
.icon-star-2:before {content:'\e85e';} /* '' */
.icon-star-filled:before {content:'\e85f';} /* '' */
.icon-thumbs-up-1:before {content:'\e860';} /* '' */
.icon-thumbs-down-1:before {content:'\e861';} /* '' */
.icon-menu-2:before {content:'\e862';} /* '' */
.icon-menu-outline:before {content:'\e863';} /* '' */
.icon-rss-2:before {content:'\e864';} /* '' */
.icon-rss-outline:before {content:'\e865';} /* '' */
.icon-phone-1:before {content:'\e866';} /* '' */
.icon-phone-outline:before {content:'\e867';} /* '' */
.icon-location-outline:before {content:'\e868';} /* '' */
.icon-github-2:before {content:'\e869';} /* '' */
.icon-github-circled-2:before {content:'\e86a';} /* '' */
.icon-facebook-2:before {content:'\e86b';} /* '' */
.icon-facebook-circled-1:before {content:'\e86c';} /* '' */
.icon-twitter-2:before {content:'\e86d';} /* '' */
.icon-twitter-circled-1:before {content:'\e86e';} /* '' */
.icon-linkedin-circled-1:before {content:'\e86f';} /* '' */
.icon-linkedin-2:before {content:'\e870';} /* '' */
.icon-rss-3:before {content:'\e871';} /* '' */
.icon-rss-alt:before {content:'\e872';} /* '' */
.icon-star-3:before {content:'\e873';} /* '' */
.icon-heart-empty-2:before {content:'\e874';} /* '' */
.icon-heart-3:before {content:'\e875';} /* '' */
.icon-quote-left-alt:before {content:'\e876';} /* '' */
.icon-quote-right-1:before {content:'\e877';} /* '' */
.icon-quote-left-1:before {content:'\e878';} /* '' */
.icon-quote-right-alt:before {content:'\e879';} /* '' */
.icon-share-2:before {content:'\e87a';} /* '' */
.icon-location-1:before {content:'\e87b';} /* '' */
.icon-location-inv:before {content:'\e87c';} /* '' */
.icon-location-alt:before {content:'\e87d';} /* '' */
.icon-mail-3:before {content:'\e87e';} /* '' */
.icon-mail-4:before {content:'\e87f';} /* '' */
.icon-heart-4:before {content:'\e880';} /* '' */
.icon-thumbs-up-2:before {content:'\e881';} /* '' */
.icon-thumbs-down-2:before {content:'\e882';} /* '' */
.icon-rss-4:before {content:'\e883';} /* '' */
.icon-star-4:before {content:'\e884';} /* '' */
.icon-mail-5:before {content:'\e885';} /* '' */
.icon-heart-5:before {content:'\e886';} /* '' */
.icon-heart-broken:before {content:'\e887';} /* '' */
.icon-star-5:before {content:'\e888';} /* '' */
.icon-star-empty-2:before {content:'\e889';} /* '' */
.icon-star-half-1:before {content:'\e88a';} /* '' */
.icon-star-half_empty:before {content:'\e88b';} /* '' */
.icon-menu-3:before {content:'\e88c';} /* '' */
.icon-link:before {content:'\e88d';} /* '' */
.icon-location-2:before {content:'\e88e';} /* '' */
.icon-at:before {content:'\e88f';} /* '' */
.icon-gplus-2:before {content:'\e890';} /* '' */
.icon-gplus-circled-1:before {content:'\e891';} /* '' */
.icon-facebook-circled-2:before {content:'\e892';} /* '' */
.icon-linkedin-3:before {content:'\e893';} /* '' */
.icon-github-circled-alt:before {content:'\e894';} /* '' */
.icon-github-circled-alt2:before {content:'\e895';} /* '' */
.icon-twitter-3:before {content:'\e896';} /* '' */
.icon-twitter-circled-2:before {content:'\e897';} /* '' */
.icon-facebook-3:before {content:'\e898';} /* '' */
.icon-github-circled-3:before {content:'\e899';} /* '' */
.icon-github-3:before {content:'\e89a';} /* '' */
.icon-gplus-3:before {content:'\e89b';} /* '' */
.icon-rss-5:before {content:'\e89c';} /* '' */
.icon-github-4:before {content:'\e89d';} /* '' */
.icon-github-circled-4:before {content:'\e89e';} /* '' */
.icon-facebook-4:before {content:'\e89f';} /* '' */
.icon-twitter-4:before {content:'\e8a0';} /* '' */
.icon-youtube:before {content:'\e8a1';} /* '' */
.icon-google-1:before {content:'\e8a2';} /* '' */
.icon-login:before {content:'\e8a3';} /* '' */
.icon-gmail:before {content:'\e8a4';} /* '' */
.icon-email:before {content:'\e8a5';} /* '' */
.icon-dropbox:before {content:'\e8a6';} /* '' */
.icon-call:before {content:'\e8a7';} /* '' */
.icon-grooveshark:before {content:'\e8a8';} /* '' */
.icon-guest:before {content:'\e8a9';} /* '' */
.icon-bitcoin:before {content:'\e8aa';} /* '' */
.icon-print:before {content:'\e8ab';} /* '' */
.icon-linkedin-4:before {content:'\e8ac';} /* '' */
.icon-amazon:before {content:'\e8ad';} /* '' */
.icon-twitter-bird:before {content:'\e8ae';} /* '' */
.icon-facebook-rect:before {content:'\e8af';} /* '' */
.icon-linkedin-5:before {content:'\e8b0';} /* '' */
.icon-googleplus-rect:before {content:'\e8b1';} /* '' */
.icon-github-text:before {content:'\e8b2';} /* '' */
.icon-linkedin-rect:before {content:'\e8b3';} /* '' */
.icon-github-5:before {content:'\e8b4';} /* '' */
.icon-twitter-5:before {content:'\e8b5';} /* '' */
.icon-facebook-5:before {content:'\e8b6';} /* '' */
.icon-mail-6:before {content:'\e8b7';} /* '' */
.icon-mail-circled:before {content:'\e8b8';} /* '' */
.icon-heart-6:before {content:'\e8b9';} /* '' */
.icon-heart-circled:before {content:'\e8ba';} /* '' */
.icon-heart-empty-3:before {content:'\e8bb';} /* '' */
.icon-star-6:before {content:'\e8bc';} /* '' */
.icon-star-circled:before {content:'\e8bd';} /* '' */
.icon-star-empty-3:before {content:'\e8be';} /* '' */
.icon-quote-1:before {content:'\e8bf';} /* '' */
.icon-quote-circled:before {content:'\e8c0';} /* '' */
.icon-rss-6:before {content:'\e8c1';} /* '' */
.icon-phone-2:before {content:'\e8c2';} /* '' */
.icon-phone-circled:before {content:'\e8c3';} /* '' */
.icon-wrench:before {content:'\e8c4';} /* '' */
.icon-right-hand:before {content:'\e8c5';} /* '' */
.icon-up-hand:before {content:'\e8c6';} /* '' */
.icon-left-hand:before {content:'\e8c7';} /* '' */
.icon-down-hand:before {content:'\e8c8';} /* '' */
.icon-barcode:before {content:'\e8c9';} /* '' */
.icon-qrcode:before {content:'\e8ca';} /* '' */
.icon-github-text-1:before {content:'\e8cb';} /* '' */
.icon-github-6:before {content:'\e8cc';} /* '' */
.icon-googleplus:before {content:'\e8cd';} /* '' */
.icon-linkedin-6:before {content:'\e8ce';} /* '' */
.icon-youtube-1:before {content:'\e8cf';} /* '' */
.icon-facebook-6:before {content:'\e8d0';} /* '' */
.icon-twitter-6:before {content:'\e8d1';} /* '' */
.icon-digg:before {content:'\e8d2';} /* '' */
.icon-star-7:before {content:'\e8d3';} /* '' */
.icon-heart-7:before {content:'\e8d4';} /* '' */
.icon-mail-7:before {content:'\e8d5';} /* '' */
.icon-location-3:before {content:'\e8d6';} /* '' */
.icon-thumbs-up-3:before {content:'\e8d7';} /* '' */
.icon-music:before {content:'\e8d8';} /* '' */
.icon-heart-8:before {content:'\e8d9';} /* '' */
.icon-mail-8:before {content:'\e8da';} /* '' */
.icon-heart-empty-4:before {content:'\e8db';} /* '' */
.icon-star-8:before {content:'\e8dc';} /* '' */
.icon-user:before {content:'\e8dd';} /* '' */
.icon-rss-alt-1:before {content:'\e8de';} /* '' */
.icon-cog:before {content:'\e8df';} /* '' */
.icon-rss-7:before {content:'\e8e0';} /* '' */
.icon-googleplus-rect-1:before {content:'\e8e1';} /* '' */
.icon-twitter-bird-1:before {content:'\e8e2';} /* '' */
.icon-facebook-rect-1:before {content:'\e8e3';} /* '' */
.icon-youtube-2:before {content:'\e8e4';} /* '' */
.icon-linkedin-rect-1:before {content:'\e8e5';} /* '' */
.icon-location-4:before {content:'\e8e6';} /* '' */
.icon-link-1:before {content:'\e8e7';} /* '' */
.icon-th-list:before {content:'\e8e8';} /* '' */
.icon-search:before {content:'\e8e9';} /* '' */
