@font-face {
  font-family: 'fontello';
  src: url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/c1ed1c51/fontello.eot?81504919');
  src: url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/c1ed1c51/fontello.eot?81504919#iefix') format('embedded-opentype'),
       url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/c1ed1c51/fontello.woff?81504919') format('woff'),
       url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/c1ed1c51/fontello.ttf?81504919') format('truetype'),
       url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/c1ed1c51/fontello.svg?81504919#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('https://cdn.rawgit.com/MaxMillion/mathewtyler/gh-pages/css/fontello/c1ed1c51/fontello.svg?81504919#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-spin1:before { content: '\e801'; } /* '' */
.icon-spin2:before { content: '\e802'; } /* '' */
.icon-emo-wink:before { content: '\e803'; } /* '' */
.icon-emo-wink2:before { content: '\e804'; } /* '' */
.icon-spin3:before { content: '\e805'; } /* '' */
.icon-spin4:before { content: '\e806'; } /* '' */
.icon-emo-unhappy:before { content: '\e807'; } /* '' */
.icon-emo-sleep:before { content: '\e808'; } /* '' */
.icon-spin5:before { content: '\e809'; } /* '' */
.icon-spin6:before { content: '\e80a'; } /* '' */
.icon-firefox:before { content: '\e80b'; } /* '' */
.icon-opera:before { content: '\e80c'; } /* '' */
.icon-ie:before { content: '\e80d'; } /* '' */
.icon-chrome:before { content: '\e80e'; } /* '' */
.icon-emo-surprised:before { content: '\e80f'; } /* '' */
.icon-emo-devil:before { content: '\e810'; } /* '' */
.icon-emo-tongue:before { content: '\e811'; } /* '' */
.icon-emo-coffee:before { content: '\e812'; } /* '' */
.icon-emo-sunglasses:before { content: '\e813'; } /* '' */
.icon-emo-beer:before { content: '\e814'; } /* '' */
.icon-emo-displeased:before { content: '\e815'; } /* '' */
.icon-emo-grin:before { content: '\e816'; } /* '' */
.icon-emo-angry:before { content: '\e817'; } /* '' */
.icon-emo-saint:before { content: '\e818'; } /* '' */
.icon-emo-cry:before { content: '\e819'; } /* '' */
.icon-emo-shoot:before { content: '\e81a'; } /* '' */
.icon-emo-squint:before { content: '\e81b'; } /* '' */
.icon-emo-laugh:before { content: '\e81c'; } /* '' */
.icon-heart:before { content: '\e81d'; } /* '' */
.icon-heart-empty:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-star-empty:before { content: '\e820'; } /* '' */
.icon-star-half:before { content: '\e821'; } /* '' */
.icon-star-half-alt:before { content: '\e822'; } /* '' */
.icon-mail-alt:before { content: '\e823'; } /* '' */
.icon-mail:before { content: '\e824'; } /* '' */
.icon-search:before { content: '\e825'; } /* '' */
.icon-music:before { content: '\e826'; } /* '' */
.icon-link:before { content: '\e827'; } /* '' */
.icon-share:before { content: '\e828'; } /* '' */
.icon-quote-left:before { content: '\e829'; } /* '' */
.icon-quote-right:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e82b'; } /* '' */
.icon-phone:before { content: '\e82c'; } /* '' */
.icon-rss:before { content: '\e82d'; } /* '' */
.icon-rss-squared:before { content: '\e82e'; } /* '' */
.icon-phone-squared:before { content: '\e82f'; } /* '' */
.icon-share-squared:before { content: '\e830'; } /* '' */
.icon-thumbs-up:before { content: '\e831'; } /* '' */
.icon-thumbs-down:before { content: '\e832'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e833'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e834'; } /* '' */
.icon-barcode:before { content: '\e835'; } /* '' */
.icon-qrcode:before { content: '\e836'; } /* '' */
.icon-smile:before { content: '\e837'; } /* '' */
.icon-frown:before { content: '\e838'; } /* '' */
.icon-meh:before { content: '\e839'; } /* '' */
.icon-at:before { content: '\e83a'; } /* '' */
.icon-gplus:before { content: '\e83b'; } /* '' */
.icon-gplus-squared:before { content: '\e83c'; } /* '' */
.icon-google:before { content: '\e83d'; } /* '' */
.icon-gittip:before { content: '\e83e'; } /* '' */
.icon-github-circled:before { content: '\e83f'; } /* '' */
.icon-github-squared:before { content: '\e840'; } /* '' */
.icon-github:before { content: '\e841'; } /* '' */
.icon-git:before { content: '\e842'; } /* '' */
.icon-git-squared:before { content: '\e843'; } /* '' */
.icon-facebook:before { content: '\e844'; } /* '' */
.icon-facebook-squared:before { content: '\e845'; } /* '' */
.icon-dropbox:before { content: '\e846'; } /* '' */
.icon-digg:before { content: '\e847'; } /* '' */
.icon-twitter:before { content: '\e848'; } /* '' */
.icon-twitter-squared:before { content: '\e849'; } /* '' */
.icon-youtube:before { content: '\e84a'; } /* '' */
.icon-youtube-squared:before { content: '\e84b'; } /* '' */
.icon-youtube-play:before { content: '\e84c'; } /* '' */
.icon-linkedin:before { content: '\e84d'; } /* '' */
.icon-linkedin-squared:before { content: '\e84e'; } /* '' */
.icon-dropbox-1:before { content: '\e84f'; } /* '' */
.icon-share-1:before { content: '\e850'; } /* '' */
.icon-bitcoin:before { content: '\e851'; } /* '' */
.icon-fork:before { content: '\e852'; } /* '' */
.icon-puzzle:before { content: '\e853'; } /* '' */
.icon-share-2:before { content: '\e854'; } /* '' */
.icon-heart-empty-1:before { content: '\e855'; } /* '' */
.icon-heart-1:before { content: '\e856'; } /* '' */
.icon-star-1:before { content: '\e857'; } /* '' */
.icon-star-empty-1:before { content: '\e858'; } /* '' */
.icon-mail-1:before { content: '\e859'; } /* '' */
.icon-heart-2:before { content: '\e85a'; } /* '' */
.icon-heart-filled:before { content: '\e85b'; } /* '' */
.icon-star-2:before { content: '\e85c'; } /* '' */
.icon-star-filled:before { content: '\e85d'; } /* '' */
.icon-location:before { content: '\e85e'; } /* '' */
.icon-location-outline:before { content: '\e85f'; } /* '' */
.icon-thumbs-up-1:before { content: '\e860'; } /* '' */
.icon-thumbs-down-1:before { content: '\e861'; } /* '' */
.icon-mail-2:before { content: '\e862'; } /* '' */
.icon-heart-3:before { content: '\e863'; } /* '' */
.icon-heart-empty-2:before { content: '\e864'; } /* '' */
.icon-star-3:before { content: '\e865'; } /* '' */
.icon-at-1:before { content: '\e866'; } /* '' */
.icon-location-alt:before { content: '\e867'; } /* '' */
.icon-location-inv:before { content: '\e868'; } /* '' */
.icon-location-1:before { content: '\e869'; } /* '' */
.icon-mail-3:before { content: '\e86a'; } /* '' */
.icon-heart-4:before { content: '\e86b'; } /* '' */
.icon-star-4:before { content: '\e86c'; } /* '' */
.icon-thumbs-down-2:before { content: '\e86d'; } /* '' */
.icon-thumbs-up-2:before { content: '\e86e'; } /* '' */
.icon-youtube-1:before { content: '\e86f'; } /* '' */
.icon-twitter-bird:before { content: '\e870'; } /* '' */
.icon-at-2:before { content: '\e871'; } /* '' */
.icon-heart-5:before { content: '\e872'; } /* '' */
.icon-mail-4:before { content: '\e873'; } /* '' */
.icon-heart-broken:before { content: '\e874'; } /* '' */
.icon-star-empty-2:before { content: '\e875'; } /* '' */
.icon-star-5:before { content: '\e876'; } /* '' */
.icon-star-half-1:before { content: '\e877'; } /* '' */
.icon-star-half_empty:before { content: '\e878'; } /* '' */
.icon-menu-1:before { content: '\e879'; } /* '' */
.icon-location-2:before { content: '\e87a'; } /* '' */
.icon-link-1:before { content: '\e87b'; } /* '' */
.icon-hash:before { content: '\e87c'; } /* '' */
.icon-at-3:before { content: '\e87d'; } /* '' */
.icon-gplus-1:before { content: '\e87e'; } /* '' */
.icon-android:before { content: '\e87f'; } /* '' */
.icon-grooveshark:before { content: '\e880'; } /* '' */
.icon-call:before { content: '\e881'; } /* '' */
.icon-linkedin-1:before { content: '\e882'; } /* '' */
.icon-print:before { content: '\e883'; } /* '' */
.icon-amazon:before { content: '\e884'; } /* '' */
.icon-bitcoin-1:before { content: '\e885'; } /* '' */
.icon-google-1:before { content: '\e886'; } /* '' */
.icon-email:before { content: '\e887'; } /* '' */
.icon-gmail:before { content: '\e888'; } /* '' */
.icon-youtube-2:before { content: '\e889'; } /* '' */
.icon-twitter-1:before { content: '\e88a'; } /* '' */
.icon-appstore:before { content: '\e88b'; } /* '' */
.icon-digg-1:before { content: '\e88c'; } /* '' */
.icon-guest:before { content: '\e88d'; } /* '' */
.icon-dropbox-2:before { content: '\e88e'; } /* '' */
.icon-github-1:before { content: '\e88f'; } /* '' */
.icon-github-circled-1:before { content: '\e890'; } /* '' */
.icon-facebook-1:before { content: '\e891'; } /* '' */
.icon-itunes:before { content: '\e892'; } /* '' */
.icon-googleplus-rect:before { content: '\e893'; } /* '' */
.icon-facebook-2:before { content: '\e894'; } /* '' */
.icon-facebook-rect:before { content: '\e895'; } /* '' */
.icon-twitter-2:before { content: '\e896'; } /* '' */
.icon-twitter-bird-1:before { content: '\e897'; } /* '' */
.icon-github-2:before { content: '\e898'; } /* '' */
.icon-github-text:before { content: '\e899'; } /* '' */
.icon-linkedin-rect:before { content: '\e89a'; } /* '' */
.icon-linkedin-2:before { content: '\e89b'; } /* '' */
.icon-mail-circled:before { content: '\e89c'; } /* '' */
.icon-mail-5:before { content: '\e89d'; } /* '' */
.icon-heart-6:before { content: '\e89e'; } /* '' */
.icon-heart-circled:before { content: '\e89f'; } /* '' */
.icon-heart-empty-3:before { content: '\e8a0'; } /* '' */
.icon-star-6:before { content: '\e8a1'; } /* '' */
.icon-star-circled:before { content: '\e8a2'; } /* '' */
.icon-star-empty-3:before { content: '\e8a3'; } /* '' */
.icon-quote:before { content: '\e8a4'; } /* '' */
.icon-quote-circled:before { content: '\e8a5'; } /* '' */
.icon-thumbs-down-3:before { content: '\e8a6'; } /* '' */
.icon-thumbs-up-3:before { content: '\e8a7'; } /* '' */
.icon-rss-1:before { content: '\e8a8'; } /* '' */
.icon-phone-1:before { content: '\e8a9'; } /* '' */
.icon-phone-circled:before { content: '\e8aa'; } /* '' */
.icon-barcode-1:before { content: '\e8ab'; } /* '' */
.icon-qrcode-1:before { content: '\e8ac'; } /* '' */
.icon-linkedin-3:before { content: '\e8ad'; } /* '' */
.icon-googleplus:before { content: '\e8ae'; } /* '' */
.icon-github-text-1:before { content: '\e8af'; } /* '' */
.icon-github-3:before { content: '\e8b0'; } /* '' */
.icon-youtube-3:before { content: '\e8b1'; } /* '' */
.icon-facebook-3:before { content: '\e8b2'; } /* '' */
.icon-digg-2:before { content: '\e8b3'; } /* '' */
.icon-twitter-3:before { content: '\e8b4'; } /* '' */
.icon-mail-6:before { content: '\e8b5'; } /* '' */
.icon-heart-7:before { content: '\e8b6'; } /* '' */
.icon-star-7:before { content: '\e8b7'; } /* '' */
.icon-music-1:before { content: '\e8b8'; } /* '' */
.icon-thumbs-up-4:before { content: '\e8b9'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e8ba'; } /* '' */
.icon-mail-7:before { content: '\e8bb'; } /* '' */
.icon-heart-8:before { content: '\e8bc'; } /* '' */
.icon-heart-empty-4:before { content: '\e8bd'; } /* '' */
.icon-star-8:before { content: '\e8be'; } /* '' */
.icon-user:before { content: '\e8bf'; } /* '' */
.icon-linkedin-rect-1:before { content: '\e8c0'; } /* '' */
.icon-youtube-4:before { content: '\e8c1'; } /* '' */
.icon-facebook-rect-1:before { content: '\e8c2'; } /* '' */
.icon-twitter-bird-2:before { content: '\e8c3'; } /* '' */
.icon-link-2:before { content: '\e8c4'; } /* '' */
.icon-cog:before { content: '\e8c5'; } /* '' */
.icon-rss-alt:before { content: '\e8c6'; } /* '' */
.icon-rss-2:before { content: '\e8c7'; } /* '' */
